/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #909C9D;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
p{
	padding: 0px;
	margin: 0;
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
}
/*.header {
	padding: 50px 0;
	background-color: #FFF3F1;
	background-color: #FF4444;
}*/
.header__background {
	/*padding: 50px 0;*/
	background-color: #FFF3F1;
/*	background-color: #FF4444;*/
}
.menu {
	position: fixed;
	background-color: #fff;
	padding: 13px 0px;
	width: 100%;
	z-index: 2;
	box-shadow: 0 2px 10px rgba(0,0,0,0.07);

}
.menu__container {
	max-width: 1344px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.menu__row-button {
	display: flex;
}
.logo {}
.menu__row {
	display: flex;
	align-items: center;

}
.munu__item {

	/*display: block;*/
	margin-right: 20px;
	transition: all 0.5s ease;

	background: #fff;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	border-radius: 5px;
	line-height: 26px;

}
.munu__item:hover {
	background: #eee;

}
.menu-item__block {
	padding-right: 15px;
	background: url(../img/header/menu/Arrow-down.svg) no-repeat right center;
}
.menu-item__block-svg {
	margin-left: 11px;
	flex: 0 0 0;
}
.menu-item {
	font-size: 16px;
	color: #041011;
	text-decoration: none;
	font-weight: 700;

}
.button {
	background: #007188;
	color: #fff;
	display: block;
	width: 145px;
	padding: 15px 0;
	margin: 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
	border-radius: 5px;
	line-height: 26px;
	margin-left: 10px;
}
.button:hover {
	background: #1E99B1;
}
.container {
	width: 1140px;
	margin: 0px auto;
}
.header__body {
	margin-top: 197px;
	width: 450px;
}
.plane {
	z-index: 6;
	margin-left: -101px;
	margin-top: 7px;
}
.plane__two {
	display: inline;
	margin-top: -390px;
	margin-left: 1184px;
}
.header__title {
	font-size: 71px;
	color: #041011;
	font-weight: 400;
	line-height: 71px;

}
.header__subtitle {
	font-size: 21px;
	color: #041011;
	letter-spacing: 0.3px;
	line-height: 33.6px;
	width: 551px
}
.header__subtitle_block {
	margin-top: 45px;
}
.header__form {
	position: relative;
	margin-top: 35px;
}

.footer__form {
	width: 100px;
	margin-top: 43px;
}
.form__input {
	box-shadow: 0 24px 32px rgba(0,0,0,0.07);
}
.form-input {
	background: #fff;
	border-radius: 200px;
	width: 450px;
	height: 83px;
	border: 0px;
	font-size: 18px;
	letter-spacing: 0.3px;
	line-height: 33.6px;
	padding: 0;
	padding-left: 37px;
}

.form-input__two {
	width: 803px;
	
	padding-left: 37px;
}

.form__button {
	padding: 17px 0px;
	width: 162px;
	font-size: 18px;
	border-radius: 200px;
	line-height: 35px;
	font-weight: 500;
	border: 0;
	position: absolute;
	z-index: 5;
	top: 7px;
	right: 7px;
}

.header__block {
	margin-left: 17px;
	margin-top: 58px;
}
.header__image {
	max-width: 720px;
	max-height: 975px;
	position: relative;
	margin-left: 123px;
}
.header__image-block {
	position: absolute;
}


.section-one {}
.container {}
.section-one__row-advantages {
	margin-top: 110px;
}
.row-advanges {
	display: flex;
	justify-content: space-between;
}
.advanges {}
.row-percent {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.plus {
	width: 20px;
}
.percent{
	width: 23px;
}

.numeric {
	color: #041011;
	font-size: 46px;
	font-weight: 700;
	line-height: 62px;
	text-align: center;
}
.numeric-subtitle{
	
	font-size: 24px;
	color: #041011;
	font-weight: 700;
	line-height: 31px;
	text-align: center;
}
.percent-subtitle {
	color: #041011;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.3px;
	justify-content: center;
}
.getting {
	background: url(../img/section-one/getting/Background.svg) no-repeat center;
	margin-top: 86px;
	width: 100%;
	height: 590px;
	
}

.getting__title {
	width: 456px;
	margin: 0 auto;
}
.getting-title {
	font-size: 52px;
	color: #041011;
	font-weight: 700;
	line-height: 56px;
	text-align: center;
	/*justify-content: center;*/
}
.getting-subtitle{
	font-size: 21px;
	color: #041011;
	font-weight: 300;
	line-height: 29px;
	letter-spacing: 0.3px;
	text-align: center;
	/*justify-content: center;*/
}

.numeric-oval-block__1 {
	width: 215px;
}
.getting__image {
	display: block;
	margin: 0 auto;
}
.numeric-oval-block__2 {
	width: 240px;
}
.numeric-oval-block__3 {
	width: 252px;
}
.getting__subtitle {
	margin-top: 30px;
}
.getting__row-subtitle {
	max-width: 880px;
	margin: 0 auto;
	padding-top: 115px;
}
.getting-block-subtitle {
	display: flex;
	justify-content: space-between;
	margin-top: 68px;

}
.design-image {
	width: 179px;
	margin-top: 58px;
	margin-left: 923px;
}
.cart {
	margin-top: 83px;
	display: flex;
	align-items: center;
}
.cart__image {}
.cart-body {
	margin-left: 80px;
}
.cart__title {
	width: 347px;
}
.cart-title {
	font-size: 48px;
	color: #041011;
	font-weight: 700;
	line-height: 43px;
}
.cart__subtitle {
	width: 400px;
	margin-top: 47px;
}
.cart-subtitle {
	text-align: left;
	line-height: 34px;
}
.cart__link {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.cart__link-text {
	font-size: 19px;
	color: #007188;
	font-weight: 500;
	line-height: 31px;
	text-decoration: none;
}
.cart__link-svg {
	margin-top: 5px;
	width: 115px;
}

.section-two {
	margin-top: 77px;
}
.section-two__background {
	background: #F4F9F9;
	padding: 150px 150px 170px 150px;
	z-index: 1;
}
.container {}
.section-two__title {}
.section-two__cart-row {
	margin-top: 36px;
	display: flex;
	justify-content: space-between;
	align-items: start;

}
.section-two__cart {
	border-radius: 12px;
	background: #fff;
	width: 350px;

}
.section-two__image {}
.section-two-image {
	border-radius: 12px 12px 0px 0px;
}
.section-two__body {
	padding: 28px 30px;
	/*display: flex;
	flex-direction: column;*/
	
}
.section-two__work {}
.section-two-work {
	font-size: 13px;
	color: #FC9C25;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 1.5px;
}
.section-two__cart-title {
	margin-top: 13px;
	



}
.section-two-cart-title {
	font-size: 27px;
	color: #041011;
	font-weight: 700;
	line-height: 32.6px;
	/*flex-basis: auto;
	flex-grow: 1*/
}
.section-two__subtitle {
	padding-top: 66px;
	display: block;
}
.section-two-subtitle {
	/*display: block;*/
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
}
.section-two__button {
	margin: 0 auto;
	margin-top: 60px;
	width: 166px;
	padding: 20px 0;
	line-height: 17.6px;
	font-size: 16px;
	font-weight: 400;

}
.section-two__cart-title_3 {
	font-size: 24px;
}
.section-two__work-title {
	/*background: yellow;*/
	flex: 1 1 auto;
}


.section-three__cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 160px;
}


.section-three__link-svg {
	margin-top: 5px;
	width: 172px;
}
.section-three__subtitle {
	font-size: 24px;
	color: #041011;
	font-weight: 400;
	line-height: 33.6px;
	letter-spacing: 0.3px;
}
.section-three__title {
	font-size: 45px;
	width: 430px;
}
.section-tree__body {
	margin-left: 66px;
}
.section-four {}
.section-two__background {}
.section-four__title {
	width: 342px;
}
.section-two__title {}
.getting-title {}
.getting__title {}
.section-four__body {
	margin-top: 83px;
	display: flex;
	justify-content: space-between;
}
.section-four__cart {}
.section-four__cart-background1 {
	background: url(../img/section-four/section-four__body/background1.svg) no-repeat;
	width: 525px;
	height: 492px;
}
.section-four__cart-background2 {
	background: url(../img/section-four/section-four__body/backgound.svg) no-repeat;
	width: 525px;
	height: 299px;
}
.section-four__cart-background3 {
	background: url(../img/section-four/section-four__body/background2.svg) no-repeat;
	width: 525px;
	height: 329px;
	margin-top: 30px;

}
.section-four__cart-star {}
.section-four__cart-subtitle_1 {
	font-size: 28px;
	color: #041011;
	font-weight: 300;
	line-height: 40.3px;
	letter-spacing: 0.3px;
	width: 395px;
	margin-top: 33px;
}
.section-four__cart-subtitle_2 {
	font-size: 18px;
	color: #041011;
	font-weight: 300;
	line-height: 29.1px;
	letter-spacing: 0.3px;
	margin-top: 23px;
}
.section-four__cart-subtitle_3 {
	font-size: 21px;
	color: #041011;
	font-weight: 300;
	line-height: 29.1px;
	letter-spacing: 0.3px;
	margin-top: 19px;
}

.section-four__cart-people {
	display: flex;
	align-items: center;
	margin-top: 40px;
}
.cart-people {}
.section-four__peole-questionnaire {
	margin-left: 14px;
}
.section-four__peole-questionnaire_2 {
	margin: 0px;
}
.people-name {
	font-size: 16px;
	color: #041011;
	font-weight: 700;
	line-height: 26.4px;
}

.people-subtitle {
	font-size: 12px;
	color: #818788;
	font-weight: 400;
	line-height: 19.2px;
	letter-spacing: 1px;
	margin-top: -6px;
}

.section-four__body-container {}
.section-four__container {
	width: 1080px;
	margin: 0 auto;
	position: relative;
}
.section-four__cart-body {
	padding: 60px;
}
.section-four__image-svg {
	position: absolute;
	top: 90px;
	left: 415px;
}

.section-five {
	width: 100%;
}
.section-background {
	background: #001F5D;
	height: 468px;
}
.section-background__2 {
	background: #F4F9F9;
	width: 1440px;
	height: 468px;
	margin: 0 auto;
}
.section-background__3 {
	background: url(../img/section-five/background4.svg) no-repeat center;
	width: 1440px;
	height: 468px;
	z-index: 3;
	padding-top: 118px;
}
.section-five__container {
	width: 1360px;
	height: 390px;
	margin: 0px auto;

}
.section-five__svg_1 {}
.section-five__svg_2 {}
.container {}
.section-five__subtitle {
	color: #F7FAFF;
	line-height: 15.4px;
	letter-spacing: 2px;
	text-align: center;
}

.section-five__title {
	margin-top: 4px;
	color: #FFC8C8;
}
.secton-five__button {
}
/*.section-five__image-svg_1{
	left: 1271px;
}

.section-five__image-svg_2{
	top: 321px;

}

.section-five__image-svg{
	position: absolute ;
}*/



.footer {}
.footer__container {
	width: 980px;
	margin: 0 auto;
	padding: 100px 0px 80px 0px;
}
.footer__row-colomn {
	display: flex;
	justify-content: space-between;
}
.footer__row-colomn-gps {
	width: 696px;
	display: flex;
	justify-content: space-between;
}
.footer__colomn-logo {}
.footer__logo {}
.footer-logo {}
.footer__colomn-sitemap {}
.footer__colomn-title {
	font-size: 13px;
	color: #000;
	line-height: 17.3px;
	margin: 0px;
}
.footer__colomn-link {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
}
.text-link {
	font-size: 18px;
	color: #818788;
	line-height: 29px;
	text-decoration: none;
	font-weight: 400;
}
.text-link__2 {
	font-size: 19px;
}
.text-link__3 {
	font-size: 20px;
}
.text-link__4 {
	font-size: 16px;
	line-height: 24.6px;
}
.text-link__4_2 {
	margin-left: 4px;
}
.footer__copyright {
	margin-top: 134px;
}
.copyright {
	font-size: 12px;
	color: #041011;
	font-weight: 300;
	line-height: 25.9px;
	letter-spacing: 0.3px;
	width: 312px;
}
.footer__link {
	display: flex;
	align-items: center;
}
.footer__colomn-social {}
.people-subtitle {}
.footer__social-image {
	margin-left: 5px;
}
.footer__colomn-get-the-app {}
.footer__social-link {
	margin-top: 40px;
}
